body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    height: 100%vh;
}
nav {
    height: 15%;
    max-height: 200px;
    background-color: lightslategray;
}
#nav-menu {

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
}
.column {
    width: 75%;
    height: 100%;
}


#column-1 {
    background-color: lightblue;
}
#column-2 {
    background-color: blueviolet
}
#column-3 {
    background-color: violet
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(201, 110, 0);
    max-width: 680px;
    text-align: center;
    padding: 0px;
    height: 100%;
}

footer {
    background-color: gray;
}
@media screen and (min-width: 800px) {
    main {
        flex-direction: row;
    }
    .column {
        width: 30%;
    }
}